@use './variables' as *;

main {
    background-color: $color-primary;
    padding-bottom: 50px;
}

.card {
    img:hover {
        border-radius: 30%;
    }
    background-color: $color-primary;
    
}

.jumbotron{
    height: 350px;
    background-image: url("/resources/img/jumbotron.jpg");
    background-size: cover;
    
    
}