@use './variables' as *;

.footer_bg_img{
   height: 430px;
    background-image: url("/resources/img/footer-bg.jpg");
    background-size: cover;
    overflow: hidden;
    li, .cookies{
        font-size: 15px;
    }
    
     
    
}

.footer_bg{
    background-color: $color-secondary;
}